**/src-tauri/gen/
node_modules/
tmp/
!.gitkeep

# Build directories
build
dist
dist-ssr
out

# Env files
.env
.env*.local

# Next.js
.next/

# Package managers
# bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# Test files
**/coverage/

# TypeScript
next-env.d.ts
*.tsbuildinfo
